body {
  margin: 0;
  padding: 0;
}

:root {
  --cream: #FAF3F0;
  --light-green: #D4E2D4;
  --light-red: #FFCACC;
  --light-purple: #DBC4F0;
  --light-blue: #C1EFFF;
  --dark: #354259;
  --brown: #85586F;  
}
